@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./Inter-Variable.woff2") format("woff2 supports variations"),
    url("./Inter-Variable.woff2") format("woff2-variations");
  font-weight: 700 800;
  font-display: swap;
}