.page {
    display: grid;
    justify-items: center;
    min-block-size: 100dvb;
    min-inline-size: 320px;
    background-color: var(--page-background-color, #003366);
    font-family: var(--page__font-family-Inter, sans-serif);
    font-size: 24px;
    color: var(--page-text-color, #FFFFFF);
}

.header {
  position: fixed;
  background: var(--page__blocks-background-color, #3366CC);
  border-radius: 22px;
  inline-size: 100%;
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-size: 30px;
}

.header .nav-menu {
    position: absolute;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    right: -100%;
    top: 100px;
    width: 100%;
    border-radius: 22px;
    background: var(--page__blocks-background-color, #3366CC);
    padding: 30px;
    transition: 0.3s;
}
.header #nav_check:checked ~ .nav-menu {
    right: 0;
}

.header .nav-menu .nav__menu__list .nav__menu__list-item .nav__menu__list-item-link {
    margin: 5px 0;
}

.header .nav-menu .nav__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.header .nav-menu .nav__menu__list .nav__menu__list-item .nav__menu__list-item-link {
  display: inline-block;
  color: var(--page-text-color, #FFFFFF);;
  padding-block: 5px;
  border: 3px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
.header .nav-menu .nav__menu__list .nav__menu__list-item .nav__menu__list-item-link:hover,
.header .nav-menu .nav__menu__list .nav__menu__list-item .nav__menu__list-item-link.active {
  border-bottom-color: dodgerblue;
}

.address .address__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  gap: 10px;
}

.address_phone {
  block-size: 30px;
  inline-size: 30px;
}

.hamburger {
  cursor: pointer;
  display: block;
}
.hamburger .hamburger-line {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: var(--page-text-color, #FFFFFF);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
  padding-block: 12dvh;
}

.section_services {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  justify-content: center;
  background: var(--page__header-background-color, #3366CC);
  border-radius: 22px;
}

.section_services-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.section_services_block_list {
  margin-block-start: 40px;
  padding-block: 30px;
  padding-inline: 15px;
  inline-size: 100%;
  background-color: #4770C1;
}

.section_servcies_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}

.section_servcies_list-item {
  padding-block: 10px;
  padding-inline: 6px;
  border-radius: 20px;
  background-color: #182E7C;
  text-align: center;
}

.photo_gallery {
  background: var(--page__header-background-color, #3366CC);
  inline-size: 100%;
  border-radius: 22px;
}

.wrapper {
  block-size: 100%;
  padding-block: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  inline-size: 100%;
  padding-inline: 10px;
  gap: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  inline-size: 100%;
  border-radius: .75rem;
  background-size: 100% 250px;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  inline-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  opacity: 0;
  transform: translateX(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description .card__header {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

input {
  display: none;
  transition: all 1s ease-out;

}

input:checked + label {
  block-size: 250px
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('../images/slide_1.jpg');
}
.card[for="c2"] {
  background-image: url('../images/slide_2.jpg');
}
.card[for="c3"] {
  background-image: url('../images/slide_3.jpg');
}
.card[for="c4"] {
  background-image: url('../images/slide_4.jpg');
}

@media (width >= 1280px) {
  .page {
    padding-inline: 40px;
  }

  .header {
    inline-size: 88%;
    padding-block: 16px;
  }


  .hamburger {
    display: none;
}

  .header .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 30px;
    right: 0;
    top: 0;
    padding: 0;
    width: auto;
    background: transparent;
    font-size: 24px;
    font-weight: 700;
  }

  .header .nav-menu .nav__menu__list {
    flex-direction: row;
  }

  .header .nav-menu .nav__menu__list .nav__menu__list-item .nav__menu__list-item-link {
    text-transform: none;
  }

  .address_phone {
    block-size: 24px;
    inline-size: 24px;
  }
}