.page {
    display: grid;
    justify-content: center;
    min-inline-size: 320px;
    background-color: var(--page-background-color, #003366);
    padding-block: 25px 80px;
    padding-inline: 80px;
    color: var(--page-text-color, #FFFFFF);
}

.header {
    display: flex;
    align-items: center;
    border-radius: 22px;
    padding-block: 16px;
    padding-inline: 42px;
    gap: 32px;
    background-color: var(--page__header-background-color, #3366CC);
    font-weight: 800;
}

.main_menu_list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main_menu-list-item-link {
    position: relative;
    cursor: pointer;
    transition: 0.6s opacity ease;
}

.main_menu-list-item-link-link {
  text-decoration: none;
}

.main_menu-list-item-link:hover {
    opacity: 0.6;
}

.main_menu-list-item-link:focus {
    outline: none;
}

.main_menu-list-item-link:focus-visible {
    outline: 0;
}

.address__link {
    display: flex;
    gap:8px;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s opacity ease;
}

.address__link:hover {
    opacity: 0.6;
}

.main_menu-list-item-link::after {
    position: absolute;
    content: "";
    display: block;
    margin-block-start: 2px;
    transition: 0.6s opacity ease-in-out;
    opacity: 0;
    transform-origin: left;
    background: currentColor;
    inline-size: 100%;
    block-size: 2px;
    border-radius: 1px;

}

.main_menu-list-item-link:hover::after {
    opacity: 1;
}

.main_menu-list-item-link-current {
  text-decoration: none;
  opacity: 0.6;
}

.main_menu-list-item-link-current.main_menu-list-item-link:hover::after {
  opacity: 0;
}

.address_phone {
    block-size: 18px;
    inline-size: 18px;
}

.lang_menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.lang_menu-list-item {
    display: flex;
    align-items: center;
}

.lang_menu-list-item-link {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.nav_language_flag {
    inline-size: 22px;
    block-size: 16px;
}

.main {
  padding-block: 25px;
}

.section_services {
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  justify-content: center;
  background: var(--page__header-background-color, #3366CC);
  border-radius: 22px;
}

.section_services-title {
  font-size: 64px;
  font-weight: 600;
}

.section_services_block_list {
  margin-block-start: 40px;
  padding-block: 30px;
  padding-inline: 60px;
  inline-size: 100%;
  background-color: #4770C1;
}

.section_servcies_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  gap: 35px;
}

.section_servcies_list-item-decoration {
  border-radius: 8px;
  padding: 12px 14px;
  background-color: #182E7C
}

.photo_gallery {
    background: var(--page__header-background-color, #3366CC);
    inline-size: 100%;
    border-radius: 22px;
}

.wrapper {
  width: 100%;
  margin-block: 25px;
  padding-block: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  block-size: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-radius: 50%;
  inline-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description .card__header {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

input {
  display: none;
}

input:checked + label {
  inline-size: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('../images/slide_1.jpg');
}
.card[for="c2"] {
  background-image: url('../images/slide_2.jpg');
}
.card[for="c3"] {
  background-image: url('../images/slide_3.jpg');
}
.card[for="c4"] {
  background-image: url('../images/slide_4.jpg');
}